@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Major+Mono+Display&display=swap');

body {
	background-color: rgb(58, 193, 98);
	color: white;
	font-family: 'Covered By Your Grace', cursive;
	padding: 5px;
}

header {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 90%;
	max-width: 1100px;
	margin: auto;
	padding: 5px;
}

h1 {
	text-shadow: 1px 1px 1px rgba(50, 50, 50, 0.3);
}

.load-quote {
	color: #fff;
	text-shadow: 1px 1px 1px rgba(50, 50, 50, 0.3);
	width: 12em;
	max-height: 75px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 15px 0;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	border: 2px solid rgba(0, 0, 0, 0.3);
	transition: 0.5s;
}

.load-quote:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.load-quote:focus {
	outline: none;
}

.container {
	width: 85%;
	max-width: 1024px;
	margin: auto;
	padding: 5px;
}

.quote-box {
	text-shadow: 1px 1px 1px rgba(50, 50, 50, 0.3);
	line-height: 0.5;
}

.quote:before,
.quote:after {
	font-size: 3rem;
	line-height: 2.5rem;
	position: absolute;
}

.quote:before {
	content: '“';
	top: 0.1em;
	left: -0.5em;
}

.quote:after {
	content: '”';
	bottom: -0.1em;
	margin-left: 0.1em;
	position: absolute;
}

.source {
	font-size: 1rem;
	letter-spacing: 0.05em;
	line-height: 1.1;
	text-align: right;
	margin-right: 4em;
}

.source:before {
	content: '—';
}

.citation {
	font-style: italic;
}

.citation:before {
	content: ', ';
	font-style: normal;
}

.year:before {
	content: ', ';
	font-style: normal;
}

@media (min-width: 768px) {
	body {
		padding: 25px;
	}

	header {
		margin-bottom: 50px;
	}

	h1 {
		font-size: 3.5rem;
		height: 73px;
		margin-top: 20px;
		margin-right: 5px;
		border-bottom: 4px solid rgba(0, 0, 0, 0.3);
	}

	.load-quote {
		font-size: 1.5rem;
	}

	.container {
		padding: 25px 25px 15px 55px;
		/* background: rgba(0, 0, 0, 0.1); */
		/* border-left: 5px solid rgba(0, 0, 0, 0.3); */
		border-radius: 0 4px 4px 0;
	}

	.quote {
		font-size: 4rem;
	}

	.quote:before,
	.quote:after {
		font-size: 6rem;
	}

	.quote:before {
		top: 0.25em;
	}

	.quote:after {
		bottom: 0.1em;
	}

	.source {
		font-size: 1.25rem;
	}
}

/* NEW  */

@font-face {
	font-family: 'Sketch Block';
	src: url('http://tangledindesign.com/codepen/fonts/sketch_block-webfont.eot');
	src: url('http://tangledindesign.com/codepen/fonts/sketch_block-webfont.eot?#iefix')
			format('embedded-opentype'),
		url('http://tangledindesign.com/codepen/fonts/sketch_block-webfont.woff')
			format('woff'),
		url('http://tangledindesign.com/codepen/fonts/sketch_block-webfont.ttf')
			format('truetype'),
		url('http://tangledindesign.com/codepen/fonts/sketch_block-webfont.svg#SketchBlockBold')
			format('svg');
}

@font-face {
	font-family: 'Museo 700';
	src: url('http://tangledindesign.com/codepen/fonts/Museo700-Regular-webfont.eot');
	src: url('http://tangledindesign.com/codepen/fonts/Museo700-Regular-webfont.eot?#iefix')
			format('embedded-opentype'),
		url('http://tangledindesign.com/codepen/fonts/Museo700-Regular-webfont.woff')
			format('woff'),
		url('http://tangledindesign.com/codepen/fonts/Museo700-Regular-webfont.ttf')
			format('truetype'),
		url('http://tangledindesign.com/codepen/fonts/Museo700-Regular-webfont.svg#SketchBlockBold')
			format('svg');
}

@font-face {
	font-family: 'CallunaRegular';
	src: url('http://tangledindesign.com/codepen/fonts/Calluna-Regular-webfont.eot');
	src: url('http://tangledindesign.com/codepen/fonts/Calluna-Regular-webfont.eot?#iefix')
			format('embedded-opentype'),
		url('http://tangledindesign.com/codepen/fonts/Calluna-Regular-webfont.woff')
			format('woff'),
		url('http://tangledindesign.com/codepen/fonts/Calluna-Regular-webfont.ttf')
			format('truetype'),
		url('http://tangledindesign.com/codepen/fonts/Calluna-Regular-webfont.svg#CallunaRegular')
			format('svg');
}

body {
	background: #333;
	color: #fff;
}

.container {
	width: 590px;
	margin: 140px auto;
	position: relative;
}

blockquote {
	width: 565px;
	font: 2.65em CallunaRegular;
	letter-spacing: 0.075em;
	float: left;
	padding: 45px 0 30px 25px;
	margin: 0;
	border-top: 2px dotted #858585;
	border-bottom: 2px dotted #858585;
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
}

.container:before {
	content: '“';
	font-size: 13em;
	position: absolute;
	left: -100px;
	color: #666;
}

.container:after {
	content: '”';
	font-size: 13em;
	position: absolute;
	right: -100px;
	top: 150px;
	color: #666;
}

blockquote:first-line {
	font: 1.85em 'Sketch Block';
	color: #fff79e;
}

blockquote:first-letter {
	font-size: 2.9em;
	text-transform: lowercase;
	float: left;
	line-height: 0.52em;
	margin-right: -18px;
	position: relative;
	z-index: 1;
}

blockquote strong:first-child {
	margin-left: 8px;
	letter-spacing: 0;
}

blockquote strong:last-child {
	font: 2em 'Museo 700';
	text-transform: uppercase;
	letter-spacing: 0;
}

blockquote em {
	border-bottom: 2px dotted #858585;
	padding-left: 5px;
}

blockquote + b {
	float: right;
	margin-top: 10px;
	font: 1.6em CallunaRegular;
	letter-spacing: 0.15em;
}

blockquote + b:first-letter {
	color: #fff79e;
	font-size: 1.3em;
	font-style: italic;
	letter-spacing: 0.25em;
}

@-moz-document url-prefix() {
	blockquote:first-letter {
		margin-top: -29px;
	}
}
