@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Major+Mono+Display&display=swap');

body {
	background-color: rgb(58, 193, 98);
	color: white;
	font-family: 'Covered By Your Grace', cursive;
	padding: 5px;
}

header {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 90%;
	max-width: 1100px;
	margin: auto;
	padding: 5px;
}

h1 {
	text-shadow: 1px 1px 1px rgba(50, 50, 50, 0.3);
}

.load-quote {
	color: #fff;
	text-shadow: 1px 1px 1px rgba(50, 50, 50, 0.3);
	width: 12em;
	max-height: 75px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 15px 0;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	border: 2px solid rgba(0, 0, 0, 0.3);
	transition: 0.5s;
}

.load-quote:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.load-quote:focus {
	outline: none;
}

.container {
	display: grid;
	justify-content: center;
}

.source {
	font-size: 1rem;
	letter-spacing: 0.05em;
	line-height: 1.1;
	text-align: right;
	margin-right: 4em;
}

.source:before {
	content: '—';
}

@media (min-width: 768px) {
	body {
		padding: 25px;
	}

	header {
		margin-bottom: 50px;
	}

	h1 {
		font-size: 3.5rem;
		height: 73px;
		margin-top: 20px;
		margin-right: 5px;
		border-bottom: 4px solid rgba(0, 0, 0, 0.3);
	}

	.load-quote {
		font-size: 1.5rem;
	}

	.quote {
		font-size: 4rem;
	}

	.quote:before,
	.quote:after {
		font-size: 6rem;
	}

	.quote:before {
		top: 0.25em;
	}

	.quote:after {
		bottom: 0.1em;
	}

	.source {
		font-size: 1.25rem;
	}
}

/* BLOCKQUOTE */

blockquote {
	width: 565px;
	font: 2.65em CallunaRegular;
	letter-spacing: 0.1em;
	padding: 45px 0 30px 25px;
	margin: 0;
	border-top: 10px dotted #858585;
	border-bottom: 10px dotted #858585;
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
}

blockquote:first-line {
	font: 1.85em 'Sketch Block';
	color: #fff79e;
}

blockquote:first-letter {
	font-size: 2.9em;
	text-transform: lowercase;
	float: left;
	line-height: 0.52em;
	margin-right: -18px;
	position: relative;
	z-index: 1;
}

@-moz-document url-prefix() {
	blockquote:first-letter {
		margin-top: -29px;
	}
}
